body {
  padding-top: 60px;
  padding-bottom: 130px;
}

.navbar-padded { 
  padding: 0 20px;
}

.tweet select {
  width: auto;
}

.tweet textarea {
  box-sizing: border-box;
  width: 100%;
}

/* simply cuz I don't care to do it right */
.tweet .delete-time {
  position: relative;
  top: -5px;
}

.date-picker {
  width: auto;
}

.empty { 
  width: 400px;
  margin: 0 auto;
}

.profile img {
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.profile small {
  font-size: 18px;
}

.profile h6 {
  font-size: 11px;
  color: #999;
  text-transform: uppercase;
  font-weight: normal;
}
