/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  padding-top: 60px;
  padding-bottom: 130px;
}

.navbar-padded { 
  padding: 0 20px;
}

.tweet select {
  width: auto;
}

.tweet textarea {
  box-sizing: border-box;
  width: 100%;
}

/* simply cuz I don't care to do it right */
.tweet .delete-time {
  position: relative;
  top: -5px;
}

.date-picker {
  width: auto;
}

.empty { 
  width: 400px;
  margin: 0 auto;
}

footer {
  margin-top: 60px;
  padding: 20px 0;
}
