<!DOCTYPE html>
<html>
<head>
  <title>TweetClock</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="application">

</div>

<footer>
  <p class="text-center">
  Proudly made with <a href="http://www.emberjs.com">Ember</a> by <a href="http://broadcastingadam.com">Adam Hawkins</a>. 
  Get the <a href="http://github.com/ahawkins/tweet_clock">Source</a>.
  </p>
</footer>

</body>
</html>
